@font-face {
   font-family: 'ArbFONTS-ExpoArabic-Book';
   font-display: swap;
   src: url('file:///C:/Users/GxvMan/Desktop/Ratina/sigmaeast/sigmaeast.com-main/fonts/ArbFONTS-ExpoArabic-Book/font.ttf');
}
